body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F0F0FF;
}

a {
  color: #00B7FF;
}

.postsStyling {
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
	background-color:#CADCFF;
	max-width:500px;
	word-break: break-word;
	border: 2px solid #888888;
	box-shadow: 10px 10px 5px #888888;
}

.postTextboxStyling {
	width:400px;
	height:100px;
	margin-bottom: 20px;
	background-color:#E0E0FF;
	word-break: break-word;

}