<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Type your new post and hit "Submit"!</h1>
    <p> Go ahead, be creative. <a href="/allposts"> Or see all Posts!</a> </br></p> 
    <form name="posting" action="post_new_post" method="post">
      Post: <input type="text" name="post">
      <input type="submit" value="Submit">
    </form>
    <a href="/logout"> Logout!</a> </br>
  </body>
</html>