<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit your post or delete it!</h1>
    <p> </p>
      <form method="get" action="update_post" target="new">
        Post: <input type="text" name="post" value = <%=post%>> 
        <button type="submit" name="button" value="1">Update Post!</button>
        <button type="submit" name="button" value="2">Delete Post</button>
      </form>​​​​​​​​​​​​​​​​​​​​​​​​​​
    </form>
    <a href="/allposts"> Go To feed! </a>
    <a href="/logout"> Logout! </a>
  </body>
</html>