<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thanks for joining Fritter</h1>
    <p> Please enter your information below.</p>
    <form name="input" action="sign_up" method="post">
      Name: <input type="text" name="name">
      Username: <input type="text" name="user_name">
      Password: <input type="text" name="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>