<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Fritter</h1>
    <p> Please login to your account</p>
    <form name="input" action="open_user_session" method="post">
      Username: <input type="text" name="user_name">
      Password: <input type="text" name="password">
      <input type="submit" value="Submit">
    </form>
    <a href="sign_up">Or Sign up!</a>
  </body>
</html>